<section class="home-title">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>Flat Theme для OctoberCMS</h3>
                <p>У вас есть дизайн, у вас есть код. Мы создали продукт, который поможет вашему стартапу выглядеть еще лучше.</p>
                <div class="signup-form">
                    <form>
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Ваш E-mail">
                        </div>
                        <div class="form-group">
                            <div>
                                <input type="password" class="form-control" placeholder="Пароль">
                            </div>
                            <div>
                                <input type="password" class="form-control" placeholder="Подтверждение">
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-block btn-info">Зарегистрироваться</button>
                        </div>
                    </form>
                </div>
                <div class="additional-links">
                    Регистрируясь, вы соглашаетесь с <a href="#">Условиями использования</a> и <a href="#">Политикой конфиденциальности</a>
                </div>
            </div>
            <div class="col-sm-7 col-sm-offset-1 player-wrapper">
                <div class="player">
                    <iframe src="https://player.vimeo.com/video/29568236?color=3498db" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="logos">
    <div class="container">
        <div><img src="{{ 'assets/images/logos/mashable.png'|theme }}" alt=""></div>
        <div><img src="{{ 'assets/images/logos/guardian.png'|theme }}" alt=""></div>
        <div><img src="{{ 'assets/images/logos/forbes.png'|theme }}" alt=""></div>
        <div><img src="{{ 'assets/images/logos/red-bull.png'|theme }}" alt=""></div>
        <div><img src="{{ 'assets/images/logos/ny-times.png'|theme }}" alt=""></div>
    </div>
</section>

<br />

<div class="container">

    <!-- Services -->
    <div class="row our-services">
        <div class="col-sm-12">
            <h4 class="headline"><span>Что мы делаем</span></h4>
            <p>У него нет ни одной веснушки, как мидди. Трент из напористых маккасов без драм шазза приготовил нам немного потрошителя. Сухой, как брэдман, фламин позволяет бросить обед коммандос.</p>
        </div>
    </div>

    <div class="recent-tweets">
        <h4 class="headline"><span>Последние твиты</span></h4>
        <div class="tweet">
            <i class="fa fa-twitter"></i>
            <p>
                Салями Челюсть индейки Кострец вяленая ножка с шарообразным кончиком круглая вырезка колбаса гамбургер прошутто.
                <a href="#">1 день назад</a>
            </p>
        </div>
        <div class="tweet">
            <i class="fa fa-twitter"></i>
            <p>
                Короткая корейка свиная грудинка говядина, свиная вырезка рибай рибай с тремя кончиками донер салями огузок гамбургер.
                <a href="#">2 дня назад</a>
            </p>
        </div>
    </div>
</div>